.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
}

.week-number {
    padding-left: 2px;
    font-size: 0.8rem;
    text-align: left;
    font-weight: 600;
}

.grid-container {
  display: grid; /* This is a (hacky) way to make the .grid element size to fit its content, maybe not needed */
  overflow: auto;
  height: 512px;
  width: 100%;
}
.grid {
  display: flex;
  flex-wrap: nowrap;
}
.grid-col {
  width: 40px;
}

.grid-item--header {
  height: 52px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: center;
  background-color: #fff;
}

.grid-col--fixed-left {
  position: sticky;
  left: 0;
  z-index: 9998;
}

.grid-item {
  height: 25px;
  border-right: 1px solid gray;
  background-color: #fff;
}

.neweek-border {
    border-left-width: 2px;
}

.even-row {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: none;
    color: darkorange;
}

.test-background {
    border: 1px solid red;
}