.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
}

.week-number {
    padding-left: 2px;
    font-size: 0.8rem;
    text-align: left;
    font-weight: 600;
}

.table-container {
  display: grid; /* This is a (hacky) way to make the .grid element size to fit its content, maybe not needed */
  overflow: auto;
  height: 512px;
  width: 100%;
}

.month-table {
  display: flex;
  flex-wrap: nowrap;
}
.table-column {
  width: 40px;
  transition: width 0.5s;
}

.table-header {
  height: 52px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: center;
  background-color: #fff;
}

.table-col-fixed {
  position: sticky;
  left: 0;
  z-index: 9998;
}

.table-cell {
  height: 25px;
  border-right: 1px solid gray;
  background-color: #fff;
}

.hday {
    display: inline-block;
    width: 36px;
}

.neweek-border {
    border-left: 2px solid gray;
}

.even-row {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: none;
    color: darkorange;
}

.expand-day {
    width: 300px;
    transition: width 0.5s;
    display: block;
}

.expand-time {
    display: none;
    overflow: hidden;
    height: 24px;
    
}

.time-label {
    display: inline-block;
    font-size: 10px;
    border-left: 0.5px solid #000;
    color: #000;
    text-align: left;
}

.show-timescale {
    display: block;
}

/* -----------------------------------------------settings */

.settings-table {
    width: 100%;
    border: 2px solid #000;
}

.settings-table tr, td {
    border: 1px solid lightgray;
}